@charset "UTF-8";
body{
    background:#64C6DE;
    font: normal 15pt Arial;
    
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 600px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}

div {
    padding: 40px;
}

div#num {
    font-size: small;
}

label{
    display: block;
}
input{
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}